*{
    margin : 0 ;
    padding : 0 ;
    box-sizing : border-box ;
    /* vars */
    --box-shadow-light : 0px 6px 10px 0 rgba(215, 214, 214, 0.7) inset,
    -10px 0 20px 0 rgba(215, 214, 214, 0.7) inset,
     0px -10px 20px 0 rgba(215, 214, 214, 0.7) inset,
      6px 0px 20px 0 rgba(215, 214, 214, 0.7) inset ;  
      
    --main-containers-width : 95%  ;
    --main-containers-margin : .2rem auto;
  }
   #bodyBorders{
    box-shadow :var(--box-shadow-light);
    padding : .1px; /* to aviod margin collapse*/
    width : var(--main-containers-width) ;
    margin : var(--main-containers-margin);
    background : white;
  }
  
  header {
    width : var(--main-containers-width);
    margin : var(--main-containers-margin);
    box-shadow : var(--box-shadow-light);
    background : white;
    border-radius : 0 .5rem  0 0;
        
  }
  #menuIcon{
    margin : 10px ;
    cursor  : pointer;
  }
  
  #logo {
    height : 3rem ;
    width : 3rem ;
    background : white;
    border-radius : 50% ;
    margin : 10px ;
    display : flex;
    justify-content : center;
    align-items : center;
    box-shadow : var(--box-shadow-light)
  }
  
  #wrapper {
    display : flex ;
    justify-content : space-between ;
  }
  
  ul {
    list-style : none ;
    padding : 0 ;
  }
  li {
    background : rgb(254, 254, 254);
    text-align : center;
    margin : 2px 2px ;
    border-radius: 0 .5rem  0 0 ;
    padding : 2px ;
    border : .1rem solid rgba(215, 214, 214, 0.7)  ;
    box-shadow : var(--box-shadow-light)
  }
      
  nav {
    display : none;
      }
  .display {
    display : block ;
  }
  
  /* ---------------------- body -----------*/
  section {
    width : 80%;
    border: .1rem solid grey;
    margin : 2rem auto;
    border-radius: 0 .5rem  0 0 ;
    /*background : rgba(200,200,200,1);*/
    box-shadow : var(--box-shadow-light)
      }
  .imageDiv{
    width: 80% ;
    margin : 10px auto;
           
  }
  
  img {
    max-width : 100% ;
    border-radius: 0 .5rem  0 0 ;
    display:block;
    margin: 0 auto;
    
    
    }
 .liHr , hr.hrAbove{
    width : 20% ;
    
  }
  hr {
    width : 60% ;
    margin : 5px auto;
    box-shadow : 0px 3px 5px 0 grey;
  }
  p{
    padding : 10% 1% ;
    text-align : center;
  }

  